@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.language-selector:hover svg path,
.language-selector:hover p {
  color: #4ade80;
  fill: #4ade80;
}

.language-selector {
  position: relative;
}

.language-selector .dropdown-container {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 10px;
  background: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes foto-animation {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
  }
}

.foto-animation {
  animation: foto-animation 1s;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
